[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "scapesClassification"]
	path = scapesClassification
	url = https://github.com/ghtaranto/scapesclassification
